.wrapper{
    width: 65%;
    padding-top: 85px;
	-ms-align-items: center;
	align-items: center;
	text-align: center;
	margin: auto;
}
.category-title{
	width: 100%;
	text-align: center;
    background: none;
	margin: 35px 0 30px 0;
	text-transform: uppercase;
    font-size: 18px;
}
.items-wrapper{
	width: 100%;
	background: #fff;
	display: -webkit-flex;
	display: -moz-flex;
	display: -ms-flex;
	display: -o-flex;
	display: flex;
	-webkit-flex-direction: row;
	-moz-flex-direction: row;
	-ms-flex-direction: row;
	-o-flex-direction: row;
	flex-direction: row;
	-webkit-flex-wrap: wrap;
	-moz-flex-wrap: wrap;
	-ms-flex-wrap: wrap;
	-o-flex-wrap: wrap;
	flex-wrap: wrap;
}
.item{
	width: 25%;
	padding: 7px;
}
.item-image{
	display: block;
	transition: .3s ease;
	overflow: hidden;
	position: relative;
}
.item-image img{
	opacity: 1;
	margin: 0;
	padding: 0;
	display: block;
	transition: .3s ease;
	overflow: hidden ;
	backface-visibility: hidden;
	width: 100%;
	height: auto !important;
}
.item-view-info{
	background-color: #fff;
	text-decoration: none;
	color: #000;
	position: absolute;
	opacity: 0;
	transition: .3s ease;
	top: 50%;
	left: 0;
	width: 40%;
	text-align: center;
	margin: 0 30%;
	padding: 5px;
	border: 1px solid #000;
	border-radius: 5px;
	font-size: 14px;
	font-weight: bold;
}
.item:hover .item-image img{
	transform: scale(1.1);
	-ms-transform: scale(1.1);
	opacity: 0.6;
}
.item:hover .item-image a .item-view-info{
	opacity: 1 !important;
}
.item p{
	font-size: 14px;
	padding: 0;
	margin-top: 15px;
	margin-bottom: -5px;
	text-align: left;
}
.item-info{
	display: -webkit-flex;
	display: -moz-flex;
	display: -ms-flex;
	display: -o-flex;
	display: flex;
	-webkit-flex-direction: row;
	-moz-flex-direction: row;
	-ms-flex-direction: row;
	-o-flex-direction: row;
	flex-direction: row;
	justify-content: flex-start;
	padding-bottom: 25px;
}
.item-info .item-price{
	font-size: 14px;
	font-weight: 700;
	padding: 0;
	margin: 0;
	margin-right: 10px;
	margin-bottom: 5px;
	text-align: left;
}

@media only screen and (min-width: 1920px) {

}
@media only screen and (max-width: 1920px) {

}
@media only screen and (max-width: 1440px) {

}
@media only screen and (max-width: 1024px) {

}
@media only screen and (max-width: 768px) {

}
@media only screen and (max-width: 425px) {

}
@media only screen and (max-width: 375px) {

}
@media only screen and (max-width: 320px) {

}